.join-box {
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d3d3d3;
    background-color: #f8f8f8;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.join-sub-box {
    margin: auto;
}

.join-sub-box>button {
    margin: auto;
}

.form-inline {
    width: fit-content;
}

.form-inline>button {
    margin: 5px;
    display: block;
    margin: auto;
}

.form-inline>input {
    margin: 5px;
    display: block;
    margin: auto;
}

.form-control {
    padding: 0px
}

@media screen and (min-width: 800px) {
    .join-box {
        margin-left: unset;
        margin-right: auto;
    }
}